  AuthType Basic
  AuthName "Cicklum Test"
  AuthUserFile /var/www/cikclum-zend-test/.htpasswd
  Require valid-user

  SetEnv APPLICATION_ENV "development"

  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ server.php [NC,L]




